*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
}

:root {
    --background-color: #F0F4F8;
    --text-color: #333;
    --primary-color: #6C63FF;
    --secondary-color: #6C757D;
    --light-bg: #FFFFFF;
    --dark-bg: #000000;
    --light-text: #FFFFFF;
    --dark-text: #000000;
  }

/* Dark Mode mit Media Query */
@media (prefers-color-scheme: dark){
    :root {
        --background-color: #343a40;
        --text-color: #ffffff;
        --secondary-color: #adb5bd;
        --light-bg: #495057;
        --dark-bg: #000000;
      }
}
 
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}


a {
    text-decoration: none;
    color: var(--primary-color);
}

header{
    background-color: var(--dark-bg);
    color: var(--light-text);
    padding: 1rem 0;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 2rem);
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;  
    gap: 1rem;  
}

.nav-links li a {
    color: var(--light-text);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.nav-links li a:hover{
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.hero{
    width: 100%;
    padding: calc(5rem + 2vh) 1rem;
    text-align: center;
    background: url(./assets/images/laptop.png);
}

img {
    max-width: 100%;
    height: auto;
}
